@{
    ViewData["Title"] = "Update";
}

@model Student

<h1>Güncelleme Sayfası</h1>
<form asp-controller="Student" asp-action="Update2" method="post">

    <main class="form-signin w-100 m-auto">


        <form asp-controller="Student" asp-action="Update2" method="post">

            <div class="form-floating mb-3">
                <input asp-for="Name" type="text" name="ad" class="form-control" id="floatingInput">
                <label for="floatingInput">@ViewBag.Student.Name</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="LastName" type="text" name="soyad" class="form-control" id="floatingPassword">
                <label for="floatingPassword">@ViewBag.Student.LastName</label>
            </div>

            <div class="">
                <label asp-for="GroupID" for="grouplist" class="form-label" >Group Adı</label>
                <select asp-for="Group.Name" class="form-select" id="grouplist" name="grup" required>
                    @* <option selected="">ViewBag.StudentGroupName</option> *@
                    @foreach (Group group in (List<Group>)ViewBag.Groups)
                    {
                        <option value="@group.Id">@group.Name</option>
                    }
                    
                </select>
            </div>

            <button class="btn btn-warning w-100 my-2 py-2" type="submit">Güncelle</button>
            
            <input type="hidden" name="aydi" value="@ViewBag.Student.Id" />

        </form>
    </main>
    </div>

</form>

